$white: #ffffff;
$black: #000000;
$sans: 'PT Sans', sans-serif;
$serif: 'PT Serif', serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 62.5%;
    text-align: center;
}

h1{
	font-family: $serif;
	font-size: 6rem;
    font-weight: 400;
    text-align: center;
    line-height: 3rem;
	margin: 0 0 15px;

}

h2 {
	font-family: $sans;
	font-size: 4rem;
	margin: 0 0 40px;
	text-align: center;
}
span {
    font-family: $sans;
    font-size: 2rem;
}
.container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 40px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hero {
    background-image: url(assets/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    &__wrapper {
        padding-top: 100px;
        color: $white;
    }
}

.grid {
    img {
        width: 100%;
        height: auto;
    }
    @media (min-width: 400px){
        .box {
            float: left;
            width: 50%;
            // height: 300px;
            border: 1px solid black;
            font-size: 2rem;
            overflow: hidden;
            &:nth-child(even) {
                float: right;
            }
        }
        .b1 {
            background-color: #86ddf3;
            
        }
        .b2 {
           padding: 50px 10px;
        }
    }
}
