$white: #ffffff;
$black: #000000;
$sans: 'PT Sans', sans-serif;
$serif: 'PT Serif', serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 62.5%;
    text-align: center;
}

h1{
	font-family: $serif;
	font-size: 6rem;
    font-weight: 400;
    text-align: center;
    line-height: 5rem;
	margin: 0 0 15px;

}

h2 {
	font-family: $sans;
	font-size: 4rem;
	margin: 0 0 40px;
	text-align: center;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}
span {
    font-family: $sans;
    font-size: 2rem;
}
p {
    @media (min-width: 400px) {
        font-size: 1.6rem;
    }
    @media (min-width: 520px) {
        font-size: 2.1rem;
    }
}
.container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
.num {
    span {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #86ddf3;
        font-family: $serif;
        font-size: 15rem;
        color: $white;
    }
}

.hero {
    background-image: url(assets/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    &__wrapper {
        padding-top: 100px;
        color: $white;
    }
}
.quote {
    margin: 30px 0;
}
.grid {
    position: relative;
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    @media (min-width: 400px){
        .box {
            display: inline-block;
            float: left;
            width: 50%;
            padding: 10px;
            font-size: 2rem;
            overflow: hidden;
            
            &:nth-child(even) {
                float: right;
            }
            .content {
                display: inline-block;
                height: 100%;
                width: 100%;
            }
        }
        .b6 {
            img {
                min-height: 350px;
            }
        }
        .b7 span {
            padding: 20px 0;
        }
        .b10 span {
            padding: 30px 0;
        }
    }

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        .b1, .b6, .b7, .b11 {
            width: 25%;
        }
        .b2, .b4, .b8, .b10 {
            width: 35%;
        }
        .b3, .b5, .b9 {
            width: 40%;
        }
        .b1 {
            order: 1;
        }
        .b2 {
            order: 2;
        }
        .b3 {
            order: 3;
        }
        .b4 {
            order: 5;
            span {
                @media (min-width: 768px) {
                    padding-top: 50px;
                }
            }
        }
        .b5 {
            order: 6;
        }
        .b6 {
            order: 4;
            align-self: stretch;
            img {
                height: 100%;
            }
        }
        .b7 {
            order: 7;
        }
        .b8{
            order: 8;
            margin-right: 300px;
        }
        .b9 {
            background-image: url(assets/step-3-4.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            bottom: 0;
            min-height: 515px;
            img {
                display: none;
            }
        }
        .b10{
            padding-bottom: 0;
            order: 10;
        }
        .b11{
            order: 9;
        }
    }
}

.footer {
    position: relative; 
    bottom: 0;
    .img-wrapper {
        background-image: url(assets/footer.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
    }
    @media (min-width: 400px){
        margin-top: 200px;
        h2 {
            text-align: left;
        }
        &__wrapper {
            &--main{
                h2 {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    font-family: $serif;
                }
                p {
                    font-size: 2rem;
                    text-align: left;
                }
                span {
                    font-size: 7rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #86ddf3;
                }
            }
            // img {
            //     width: 100%;
            // }
           
        }
    }
    @media (min-width: 768px) {
        margin-top: 20px;
        &__wrapper {
            position: relative;
            &--main {
                display: flex;
                &>div {
                    width: 50%;
                }
                h2 {
                    display: block;
                    width: 40%;
                    font-size: 3rem;
                    text-align: left;
                }
                .outer {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    .inner {
                        color: $white;
                    }
                }

            }
            img {
                object-fit: cover;
                height: 100%;
            }
            
        }
    }
}